@model PhotosMVC.Models.Photo

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<fieldset>
    <legend>Photo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-field">
        @if (Model.PhotoFile != null)
        {
            <img src="@Url.Action("GetImage", "Photo", new { id=Model.PhotoID})" width="100" height="100" alt="Alternate Text" />
        }
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Comentarios</div>
    <div class="display-field">
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <label>@comment.UserName: </label><span>@comment.Subject</span>
                    <p>
                        @comment.Body
                    </p>
                </li>
            }
        </ul>

    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PhotoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
